.weather-btn{
    width: 154px;
    height: 29.5px;
    border-radius: 8px;
    background: #C3CEF4;
    text-align: center;
}
.gridunit{
  padding: 10px;
  flex: 1;
}
.gridunitdate{
    padding: 10px;
}
.text-gray{
font-size: 12px;
font-weight: 400;
line-height: 14.08px;
}
.text-bold{
    font-size: 12px;
    font-weight: 700;
    line-height: 14.08px;  
    margin-top: 5px;  
}