:host{
    display: block;
    height: calc(100%);
}
.list-container{
    flex: 1;
}
.text-nofound{
    color: #A9A9A9;
    line-height: 28.15px;
    size: 24px;
 }
.b-bottom{
    border-bottom: 1px solid #A9A9A9; 
    padding: 10px 20px 10px 20px;
}
.b-top{
    border-top: 1px solid #A9A9A9; 
    padding: 10px 20px 10px 20px;
}
.list-foot{
    border-radius: 0px 0px 8px 8px;
}
.list-head{
    border-radius: 8px 8px 0px 0px;
}
.list-head:hover{
   background-color: #E6EAF8;
}
.delete-btn{
    content: url("../../../assets/icons/delete-default.svg");
}
.delete-btn:hover{
    content: url("../../../assets/icons/delete-red.svg");
}
.plus-icon{
    content: url("../../../assets/icons/add-light-blue.svg");
}
.plus-icon:hover{
    content: url("../../../assets/icons/add-blue.svg");
}
.pill{
    height:30px;
    width: 100px;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
.pill:hover{
    background-color: #C3CEF4;
    color: var(--bg-darkBlue);
    
}
.gridstyles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 30px;
    grid-gap: 15px;
}
.select-style{
    width: 210px;
    padding: 4px;
    height: 28px;
}
.slot-input{
        width: 210px;
        height: 28px;
}
.create-slot-btn{
    width: 210px;
    height: 28px;
    background-color: var(--bg-darkBlue);
    border-radius: 4px;
    border: none;
    color: var(--bg-light);
}
.create-slot-btn.button-disable{
    background-color:  #C3CEF4;
    pointer-events: none;
}
.custom-error{
    color: red;
    font-size: 10px;
    margin-left: 5px;
}
.delete-btn-slot{
    width:  203px;
  height: 28px;
  border-radius: 4px ;
  background-color: #EC3C33;
  color: var(--bg-light);
  border: none;
}
.delete-btn-slot.delete-desible{
    background-color:  #fd776f;
    pointer-events: none;
}